<h1 class="py-4 mt-3 text-center">Proyectos</h1>

<div class="container">
    <div class="row">
      <div class="col-md-4 pb-4">
        <div class="card">
            <%= image_tag 'carousel1.jpg', class: 'card-img-top object-fit-cover' %>
            <div class="card-body">
              <h5 class="card-title">Viajes Chile</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-dark">Ver más</a>
            </div>
          </div>
      </div>
      <div class="col-md-4 pb-4">
        <div class="card">
            <%= image_tag 'bg-hero.jpg', class: 'card-img-top object-fit-cover' %>
            <div class="card-body">
              <h5 class="card-title">Olivia Ros</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-dark">Ver más</a>
            </div>
          </div>
      </div>
      <div class="col-md-4 pb-4">
        <div class="card">
            <%= image_tag 'principal.jpg', class: 'card-img-top object-fit-cover' %>
            <div class="card-body">
              <h5 class="card-title">Ricomida</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-dark">Ver más</a>
            </div>
          </div>
      </div>
    </div>
  </div>
